<% content_for :admin_content do %>
<p style="color: green"><%= notice %></p>

<%= render @album %>

<div>
  <%= link_to "Edit this album", edit_admin_album_path(@album) %> |
  <%= link_to "Back to albums", admin_albums_path %>

  <%= button_to "Destroy this album", [:admin, @album], method: :delete %>
</div>
<% end %>