<% content_for :admin_content do %>
<p style="color: green"><%= notice %></p>

<%= render @genre %>

<div>
  <%= link_to "Edit this genre", edit_admin_genre_path(@genre) %> |
  <%= link_to "Back to genres", admin_genres_path %>

  <%= button_to "Destroy this genre", [:admin, @genre], method: :delete %>
</div>
<% end %>
