<div id="<%= dom_id album %>">
  <div>
    <strong>Name:</strong>
    <%= album.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= album.description %>
  </div>

  <div>
    <strong>Unit price:</strong>
    <%= album.unit_price %>
  </div>

  <div>
    <strong>Stock available:</strong>
    <%= album.stock_available %>
  </div>

  <div>
    <strong>Género:</strong>
    <%= album.genre_id %>
  </div>

  <div>
    <strong>Media type:</strong>
    <%= album.media_type %>
  </div>

  <div>
    <strong>Condition is new:</strong>
    <%= album.condition_is_new %>
  </div>

  <div>
    <strong>Author:</strong>
    <%= album.author_id %>
  </div>

  <div>
    <strong>Deleted at:</strong>
    <%= album.deleted_at %>
  </div>

</div>
