<% content_for :admin_content do %>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">

        <h2 class="mb-4 text-center">Editar perfil: <%= @user.email %></h2>

        <%= form_with(model: @user, url: admin_user_path(@user), local: true, class: "card p-4 shadow") do |form| %>

          <%= render "shared/error_display", resource: form.object %>

          <h3 class="border-bottom pb-2 mb-3 text-primary">Información de
            perfil</h3>

          <div class="mb-3">
            <%= form.label :email, class: "form-label" %>
            <%= form.email_field :email, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= form.label :password, class: "form-label" %>
            <p class="form-text text-muted">Deja en blanco si no quieres cambiarla.</p>
            <%= form.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="mb-4">
            <%= form.label :password_confirmation, class: "form-label" %>
            <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>

          <% if can? :change_role, form.object %>
            <div class="mb-3">
              <%= form.label :role, "Selecciona tu Rol", class: "form-label" %>
              <%
                allowed_roles = User.roles.keys.select do |k|
                  can? :create, User.new(role: User.roles[k])
                end
                select_options = allowed_roles.map { |k| [k.humanize, k] }
              %>

              <%= form.select :role,
                select_options,
                { selected: form.object.role || :basic },
                { class: "form-select" }
              %>
            </div>
          <% end %>

          <div class="d-grid gap-2">
            <%= form.submit "Actualizar Usuario", class: "btn btn-primary btn-lg" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
<% end %>